<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>FreeSide</title>
    <link href="{{asset "css/foundation.css"}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset "css/app.css"}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/rrssb.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
</head>
<body>
    <link href=
    "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
    rel="stylesheet">
    <div class="top-bar">
        <div class="row">
            <div class="top-bar-left">
                <a class="logo" href="/"><img src="{{asset "assets/img/logo.svg"}}"></a>
            </div>
            <div class="top-bar-right">
                {{navigation}}
                <!--<ul class="menu" role="menubar">
                    <li role="menuitem">
                        <a href="http://www.freeside.co.uk/wiki">Wiki</a>
                    </li>
                    <li role="menuitem" >
                        <a href="http://www.freeside.co.uk/blog">Blog</a>
                    </li>
                    <li role="menuitem" >
                        <a href="http://www.freeside.co.uk/wiki/index.php?title=Slack">Chat</a>
                    </li>
                    <li role="menuitem" >
                        <a href="http://www.freeside.co.uk/cams/">Cams</a>
                    </li>
                    <li>
                        <a href="http://www.freeside.co.uk/wiki/index.php?title=Where_is_Freeside" class="menu-button button">Join</a>
                    </li>
                    !-->
                </ul>
            </div>
        </div>
    </div>

       {{{body}}}

    <div id="footer-wrapper">
    <div class="footer">
    	<div class="row">
    		<span>©2016 FreeSide</span>
    		<span style="float:right;">Site Design by Kieran Coldron</span>
    	</div>
    </div>
    </div>

    <script src="{{asset "js/vendor/jquery.min.js"}}">
    </script>

    <script type="text/javascript" src="{{asset "js/rrssb.min.js"}}"></script>

    {{! Activate the social sharing buttons with a suitable post title/desricption/link}}
    <script type="text/javascript">
        jQuery(document).ready(function($) {

            $('.rrssb-buttons').rrssb({
                // required:
                title: '{{post.title}}',
                url: '{{@blog.url}}{{post.url}}',

                // optional:
                 description: '{{post.title}}',
                // emailBody: 'Usually email body is just the description + url, but you can customize it if you want'
            });

        });
    </script>

    </script>
    <script src="{{asset "js/vendor/what-input.min.js"}}">
    </script> 
    <script src="{{asset "js/foundation.min.js"}}">
    </script> 
    <script src="{{asset "js/app.js"}}">
    </script>

</body>
</html>
